@import "~bootstrap/dist/css/bootstrap.min.css";


html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

.wrap{
    padding-bottom: 60px;
}

.pagination {
    position: sticky; /* o position: sticky; */
    bottom: 10px; /* Ajusta la posición según tus necesidades */
}
